.h4-title{
    padding: 3px;
    color:blue;
}


.th_1 {

    width:10%;

}

.th_2 {

    width:10%;

}

.th_3 {

    width:10%;

}

.th_4 {

    width:15%;

}

.th_5 {

    width:10%;

}

.th_6 {

    width:15%;

}

.th_7 {

    width:20%;

}


.th_8 {

    width:20%;

}

.td_1 {

    width:10%;

}

.td_2 {

    width:10%;

}

.td_3 {

    width:10%;

}

.td_4 {

    width:15%;

}

.td_5 {

    width:10%;

}

.td_6 {

    width:15%;

}

.td_7 {

    width:20%;

}


.td_8 {

    width:20%;

}